{% extends 'calculations/base.html'%}
{%block content%}
     <div class="border-top pt-3">
            <a href="{% url 'calc' %}">1. Create a Python Function to perform a calculation based on the mathematical function</a><br><br><br>
            <a href="{% url 'series' %}">2. Write a Python function to find the next number in the series:</a><br><br><br>
            <a href="{% url 'solve' %}">3. Write a Python Code that takes input as the values of x, y, a, b to solve</a><br><br><br>
    </div>   
{% endblock content%}